.App {
  text-align: center;
  display: flex;
  align-items: center;
  height: 100vh;
  margin-top: 3vh;
  flex-direction: column;
}

.text-block {
  outline: none;
  /* background-color: grey; */
  padding: 3px;
  margin: 0 0 0 0;
}

#pad {
  width: 70%;
  height: 70%;
  text-align: left;
}

.flex-block {
  display: flex;
  align-items: center;
  margin-top: 8px;
}

.bullet {
  font-size: 1.5em;
  line-height: 1;
  align-self: flex-start;
  margin-left: 2px;
  margin-right: 8px;
}

.text-grow {
  flex-grow: 1;
}

.bullet::before {
  content: "•";
}

#instructions-wrapper {
  display: flex;
  justify-content: space-between;
  width: 50%;
  margin-bottom: 5vh;
}
