.App {
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.text-block {
  outline: none;
  /* background-color: grey; */
  padding: 3px;
  margin: 0 0 0 0;
}

#pad {
  width: 70%;
  height: 70%;
  text-align: left;
}

.flex-block {
  display: flex;
  align-items: center;
  margin-top: 8px;
}

.bullet {
  font-size: 1.5em;
  line-height: 1;
  align-self: flex-start;
  margin-right: 6px;
}

.text-grow {
  flex-grow: 1;
}

.bullet::before {
  content: "•";
}
